<h1>Events at WHEELS 2015</h1>

<% @events.each do |event| %>
  <div class="event">
    <strong> <%= event.event_name %>  </strong>
    <p><%= event.location %> <br>
    <%= event.event_date_time.strftime("%A %D at %I:%M %p") %></p>
    <div class="meta">
        <% link_name = "Sign up!" %>
      <%= link_to link_name, event %>
          <span class="admin">| <%= link_to "Edit", edit_event_path(event) %> |
        <% message = "Are you sure you want to delete this event?" %>
        <%= link_to "Delete", event, method: :destroy, data: { confirm: message} %>
      </span>
    </div>
  </div>
<% end %>

