<h1>Events#show</h1>
<p>
  <strong>Event Name:</strong>
 <%= @event.event_name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.event_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Content:</strong>
  <%= @event.category %>
</p>