<h1>Events at WHEELS 2015</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Event Name:</strong>
 <%= @event.event_name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.event_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category %>
</p>