<!DOCTYPE html>
<html>
<head>
  <title>WHEELS 2015 Event Registration</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <%= csrf_meta_tags %>
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div class="pull-left">
        <div class="brand">
          <!--<div class="brand logopic">-->
          <img src="https://static1.squarespace.com/static/54adc070e4b0c8f53bde4cf9/t/54ecfc98e4b0cc380c7af39a/1435162899623/" height="200px" width="200px">
        </div>
        </div>
         <div class="navigation pull-right">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-9 col-lg-10">
         <img src="http://static1.squarespace.com/static/54adc070e4b0c8f53bde4cf9/t/5602e062e4b0d28c8246fa6d/1443029092179/?format=750w" class="img-responsive">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
        <div class="btn-group-vertical pull-right" role="group" aria-label="...">


      <!--<ul class="nav pull-right">-->
        <% if user_signed_in? %>
          <%= link_to current_user.full_name, edit_user_registration_path, class: "btn btn-default" %></button>
        <%= link_to "My Events", myevents_path, class: "btn btn-default" %>
        <%= link_to "Tri-Rail Cyclist Passport", "https://static1.squarespace.com/static/54adc070e4b0c8f53bde4cf9/t/561ea7a4e4b0956834f2b111/1444849572002/WHEELS_TriRail+Cyclist+Passport.jpg", :target => "_blank", class: "btn btn-default" %>
         <%= link_to "Log Out", logout_path, class: "btn btn-default" %>
        <% else %>
           <%= link_to "Register", register_path, class: "btn btn-default" %>
           <%= link_to "Log in", login_path, class: "btn btn-default" %>
           <%= link_to current_user.full_name, edit_user_registration_path %, class="btn btn-default">
        <% end %>
      <!--</ul>-->
      </div>
      </div>
      </div>
      
      </div>
      </div>
      </div>
      </div>
      <div class="text">
      Register Now. Win free prizes. Get a free fitted helmet and rail pass while supplies last. Ensure your seat at WHEELS conference sessions.
    </div>
    </div>
    
     
    </div>
<div class="container">
  <% flash.each do |type, message| %>
   <div class = "alert <%= flash_class type.to_s %> ">
      <button class="close" data-dismiss="alert">x</button>
      <%= message %>
    </div>
  <% end %>

<%= yield %>
</div>

</body>
</html>
