<!DOCTYPE html>
<html>
<head>
  <title>WHEELS 2015 Event Registration</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <%= csrf_meta_tags %>
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="navbar">
  <div class ="navbar-inner">
    <div class="container">
      <div class="pull-left">
        <div class="brand">
          <img src="https://static1.squarespace.com/static/54adc070e4b0c8f53bde4cf9/t/54ecfc98e4b0cc380c7af39a/1435162899623/" height="100px" width="100px">
        </div>
      
      <ul class ="nav">
      <b><%= link_to "All Events", events_path %></b>
      </ul>
      </div>
      <ul class="nav pull-right">
        <% if user_signed_in? %>
        <li><%= link_to current_user.full_name, edit_user_registration_path %></li>
        <li><%= link_to "My Events", events_myevents_path %></li>
        <li><%= link_to "Log Out", logout_path %></li>
        <% else %>
          <li><%= link_to "Register", register_path %></li>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
      </div>
      </div>
    </div>
<div class="container">
  <% flash.each do |type, message| %>
   <div class = "alert <%= flash_class type.to_s %> ">
      <button class="close" data-dismiss="alert">x</button>
      <%= message %>
    </div>
  <% end %>

<%= yield %>
</div>

</body>
</html>
