<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   <%= javascript_include_tag 'application.css.scss', media: 'all', 'data-turbolinks-track' => true %>
   <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class ="navbar-inner">
    <div class="container">
      <b><a href="#" class="brand">WHEELS Registration</a></b>
      <ul class ="nav">
        <%= link_to "All Statuses", feed_path %> |
        <%= link_to "All Events", events_path %>
      </ul>
      <ul class="nav pull-right">
        <% if user_signed_in? %>
        <li><%= link_to current_user.full_name, edit_user_registration_path %></li>
        <li><%= link_to "Log Out", logout_path %></li>
        <% else %>
          <li><%= link_to "Register", register_path %></li>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
      </div>
      </div>
    </div>
<div class="container">
  <% flash.each do |type, message| %>
   <div class = "alert <%= flash_class type.to_s %> ">
      <button class="close" data-dismiss="alert">x</button>
      <%= message %>
    </div>
  <% end %>

<%= yield %>
</div>

</body>
</html>
